:root {
	--background-color: #051014;
	--text-color: #F5F5F5;
	--span-color: #1976D2;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: "JetBrains Mono";
	display: normal;
}
h1 {
	text-align: center;
}
